/* body */
body {
  /* background-image: url("wallpaper.jpg"); */
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #707070;
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/* header */
header {
  width:1350px;
}
/* ヘッダーロゴ */
.header-logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
/* ナビゲーションメニュー */
.nav-bar {
  text-align: center;
  background: #AD8998;
  width:1350px;
  height: 70px;
  margin:auto;
  padding:0px;
}
.nav-bar li{
  list-style: none;
  display: inline-block;
  padding-left: 60px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar a:hover {
  color: #78415D;
  text-decoration: none;
  font-size: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* header-end */

/* side bar */
.side-bar li{
  list-style: none;
}
.side-bar h2{
  font-size: 20px;
}
.side-bar span {
  font-weight: 500;
}
.side-bar p {
  font-size: 5px;
}
/* ログイン */
.login {
  float: right;
  padding: 15px;
  margin: 0px 5px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 20px;
  width:250px;
  position: absolute;
  top: 350px;
  left: 1065px;
  box-shadow: 8px 4px 19px -5px #777777;
}
dl.login-form dt{
  clear:left;
  position: relative;
  float: left;
  width: 7em;
  padding:10px 0px 0px 0px;
  font-weight: 500;
}
dl.login-form dd{
  margin-left: 35px;
  width: 300px;
  padding: 10px 0px 10px 0px;
}
input.text {
  width:120px;
}
.signup {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #EB7777;
  color: #ffffff;
  border: 1px solid #EB7777;
  margin:10px 10px 10px 90px;
}
.signup:hover {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #DE6262;
  color: #FFFFFF;
  border: 1px solid #DE6262;
  margin:10px 10px 10px 90px;
}
.login-btn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #707070;
  color: #ffffff;
  border: 1px solid #707070;
}
.login-btn:hover {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #575555;
  color: #FFFFFF;
  border: 1px solid #575555;
}
.login a {
  text-decoration: none;
  font-size: 15px;
}
/* 検索 */
.serch {
  float: right;
  padding: 15px;
  margin: 5px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 20px;
  width:250px;
  position: absolute;
  top: 690px;
  left: 1065px;
  box-shadow: 8px 4px 19px -5px #777777;
}
dl.serch-form dt{
  clear:left;
  position: relative;
  float: left;
  width: 7em;
  padding:10px 0px 0px 0px;
}
dl.serch dd{
  margin-left: 35px;
  width: 300px;
  padding: 10px 0px 10px 0px;
}
.serch-btn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #3D3737;
  color: #ffffff;
  border: 1px solid #3D3737;
  margin:10px 5px;
  width:60px;
}
.serch-btn:hover {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  margin:10px 5px;
  width:60px;
}
/* カテゴリー */
.category {
  float: right;
  padding: 15px;
  margin: 5px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 20px;
  width:250px;
  position: absolute;
  top: 870px;
  left: 1065px;
  box-shadow: 8px 4px 19px -5px #777777;
}
.category ul li a {
  text-decoration: none;
  color: #707070;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 15px;
}

/* side-bar end */

/* main */
.main {
  float: left;
}
.latest-post{
  width: 990px;
  height: 1200px;
  position: absolute;
  top: 350px;
  left: 15px;
  padding: 20px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 20px;
  box-shadow: 8px 4px 19px -5px #777777;
}
.latest-post-box {
  width: 600px;
  height: 700px;
  position: absolute;
  top: 100px;
  left: 200px;
  padding: 20px;
  background: #ffffff;
}
.latest-post-box img {
  height: 600px;
  width: 600px;
  text-align: center;
  margin-bottom: 20px;
}
.latest-post h2 {
  height: 800px;
  width: 200px;
  margin: 10px;
  text-align: left;
  font-size: 30px;
}
.latest-post h4 {
  font-size: 25px;
}
.latest-post span {
  font-size: 20px;
}
/* 人気の投稿 */
.container{
  width: 990px;
  height: 800px;
  position: absolute;
  top: 1650px;
  left: 15px;
  padding: 20px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 20px;
  box-shadow: 8px 4px 19px -5px #777777;
}
.container h2 {
  height: 800px;
  width: 200px;
  margin: 10px;
  text-align: left;
  font-size: 30px;
}
.container h4 {
  font-size: 18px;
}
.container span {
  font-size: 15px;
}

.box1 {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 130px;
  left: 30px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 10px;
  padding: 30px;
}
.box2 {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 130px;
  left: 520px;
  background: #ffffff;
  border: solid 3px #707070;
  border-radius: 10px;
  padding: 30px;
}
.box1 img,.box2 img {
  margin : 10px 50px;
  width:300px;
  height:300px;
}
.post-category {
  display: inline-block;
  background: #F39E9E;
  color: #ffffff;
  border: solid 1px ;
  border-radius: 10px;
  font-size:15px;
  height:25px;
  padding: 5px 10px;
  font-weight: bold;
}

/* main-end */

/* footer */
