@charset "UTF-8";
/* body */
body {
  /* background-image: url("wallpaper.jpg"); */
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #707070;
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/* header */
header {
  width:1350px;
}
/* ヘッダーロゴ */
.header-logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
/* ナビゲーションメニュー */
.nav-bar {
  text-align: center;
  background: #AD8998;
  width:1350px;
  height: 70px;
  margin:auto;
  padding:0px;
}
.nav-bar li{
  list-style: none;
  display: inline-block;
  padding-left: 60px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar a:hover {
  color: #78415D;
  text-decoration: none;
  font-size: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* header-end */

/* side bar */
.side-bar li{
  list-style: none;
}
.side-bar-title h2{
  font-size: 20px;
}
.side-bar span {
  font-weight: 500;
}
.side-bar p {
  font-size: 5px;
}
/* ログイン */
.login {
  float: right;
  padding: 15px;
  margin: 0px 5px;
  background: #ffffff;
  border: solid 3px;
  border-color: rgba(70, 64, 64, 0.6);
  border-radius: 20px;
  width:250px;
  position: absolute;
  top: 350px;
  left: 1065px;
  box-shadow: 8px 4px 19px -5px #777777;
}
dl.login-form dt{
  clear:left;
  position: relative;
  float: left;
  width: 7em;
  padding:10px 0px 0px 0px;
  font-weight: 500;
}
dl.login-form dd{
  margin-left: 35px;
  width: 300px;
  padding: 10px 0px 10px 0px;
}
input.text {
  width:120px;
}
.signup {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #EB7777;
  color: #ffffff;
  border: 1px solid #EB7777;
  margin:10px 10px 10px 90px;
}
.signup:hover {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #DE6262;
  color: #FFFFFF;
  border: 1px solid #DE6262;
  margin:10px 10px 10px 90px;
}
.login-btn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #707070;
  color: #ffffff;
  border: 1px solid #464040;
}
.login-btn:hover {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #575555;
  color: #FFFFFF;
  border: 1px solid #575555;
}
.login a {
  text-decoration: none;
  font-size: 15px;
}
/* 検索 */
.serch {
  float: right;
  padding: 15px;
  margin: 5px;
  background: #ffffff;
  border: solid 3px;
  border-color: rgba(70, 64, 64, 0.6);
  border-radius: 20px;
  width:250px;
  position: absolute;
  top: 690px;
  left: 1065px;
  box-shadow: 8px 4px 19px -5px #777777;
}
dl.serch-form dt{
  clear:left;
  position: relative;
  float: left;
  width: 7em;
  padding:10px 0px 0px 0px;
}
dl.serch dd{
  margin-left: 35px;
  width: 300px;
  padding: 10px 0px 10px 0px;
}
.serch-btn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #3D3737;
  color: #ffffff;
  border: 1px solid #3D3737;
  margin:10px 5px;
  width:60px;
}
.serch-btn:hover {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  margin:10px 5px;
  width:60px;
}
/* カテゴリー */
ul, li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.category {
  float: right;
  width: 250px;
  position: absolute;
  top: 870px;
  left: 1065px;
  background-color: #ffffff;
  border: solid 3px;
  border-color: rgba(70, 64, 64, 0.6);
  box-shadow: 8px 4px 19px -5px #777777;
  border-radius: 20px;
  padding: 15px;
  font-size: 15px;
  color: #707070;
  font-weight: bold;
  margin: 5px;
}
.category a {
    text-decoration: none;
    color: #707070;
}
.category a:hover {
    color: #AD8998;
}
.main_menu{
    margin: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    font-weight: bold;
    padding-left: 10px;
    text-indent: 10;
    display: block;
    position: relative;
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCC;
    width: 230px;
}
.main_menu::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 2px #707070;
    border-right: solid 2px #707070;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -6px;
}
.menu .open::before {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-top: -3px;
}
.menu .main_menu:hover ,.menu .open {
    background-color: #FFFFFF;
    color: #AD8998;
}
.menu .main_menu:hover::before ,.menu .open::before{
    border-top: solid 2px #AD8998;
    border-right: solid 2px #AD8998;
}
.sub_menu li a{
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 40px;
    background-color: #FFFFFF;
    display: block;
    position: relative;
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCC;
}
.sub_menu li a::before{
    content: '';
    width: 0;
    height: 0;
    border: solid 4px transparent;
    border-left: solid 6px #707070;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
    margin-left: 25px;
}
.sub_menu li a:hover{
    background-color: #FFFFFF;
}
.sub_menu li a:hover::before {
    border-left: solid 6px #707070;
}
.third_menu li a{
    padding-left: 40px;
    border-top-style: none;
    padding-bottom: 6px;
    padding-top: 6px;
}
.third_menu li a::before{
    margin-left: 65px;
}
/* side-bar end */

/* main */
.main {
  float: left;
}
.blog {
  width:1050px;
  display: flex;
  flex-direction: column;
}
/* 最新の投稿 */
.post{
  width: 990px;
  height: 260px;
  padding: 10px;
  background: #ffffff;
  border: solid 3px;
  border-color: rgba(70, 64, 64, 0.6);
  border-radius: 20px;
  box-shadow: 8px 4px 19px -5px #777777;
  margin-top: 75px;

}
.post-box {
  width: 950px;
  height: 240px;
  top: 100px;
  left: 200px;
  background: #ffffff;
  display: flex;
}
.post-box img {
  height: 230px;
  width: 230px;
  text-align: center;
  margin-right: 50px;
  padding: 10px;
}
.post h4 {
  font-size: 25px;
  margin: 15px 0px;
}
.post span {
  font-size: 15px;
}
.post-category {
  display: inline-block;
  background: #F39E9E;
  color: #ffffff;
  border: solid 1px ;
  border-radius: 10px;
  font-size:15px;
  height:25px;
  padding: 5px 10px;
  font-weight: bold;
}
.contents {
  padding: 10px;
}
.post-next {
  text-decoration: none;
  color: #F39E9E;
  font-weight: bold;
}
.post-next:hover{
  text-decoration: underline #F39E9E;
  color: #F39E9E;
  font-weight: bold;
}
.icon-account {
  display: flex;
  justify-content: flex-end;
}
.icon-account img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding:5px;
}
.account-name {
  font-size: 20px;
  text-decoration: none;
  color: #707070;
  margin-top: 5px;
}
/* ページャー */
.pager .pagination {
  text-align: center;
  margin-top:60px;
}
.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}
.pager .pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
  font-size:25px;
  font-weight: bold;
  color:#707070;
}
.pager .pagination li a span:hover,
.pager .pagination li a span.active{
  color: #FFFFFF;
  background: rgba(70,64,64,0.6);
}
@media only screen and (max-width: 767px){
  .pager .pagination li{
    display: none;
  }
  .pager .pagination li.pre,
  .pager .pagination li.next{
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }
  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width: 100%;
    text-align: center;
  }
  .pager .pagination li.pre span::after{
    content: "　前のページ";
  }
  .pager .pagination li.next span::before{
    content: "次のページ";
  }
}
/* main-end */

/* footer */
.footer {
  clear: both;
  margin-top:100px;
  width:1350px;
  height:200px;
  background: #AD8998;
  display: flex;
}
.footer img {
  margin:30px 780px 20px 50px;
}
.footer li {
  margin-top:10px;
  list-style: none;
  font-size: 20px;
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer a:hover {
  color: #78415D;
  text-decoration: none;
}
/* footer-end */
